<div id="title" title="{{name}}">{{name}}</div>

<div id="content">
	<div id="address" class="iconRow">
		<a href="http://maps.google.com/maps?q=loc:{{lat}}+{{lng}}" target="_blank">
			{{locName}}, {{address}}
		</a>
	</div>
	<div id="description" class="iconRow">{{description}}</div>
	<div id="phone" class="iconRow"><a href="tel: {{phone}}">{{phone}}</a></div>
	<div id="schedule" class="iconRow">{{schedule}}</div>
	<div id="cost" class="iconRow">{{cost}}</div>
</div>